@keyframes cards{
    0% {
      opacity: 0%;
      transform :translateX(100px);
    }
    50% {
      opacity: 100%;
      transform :translateX(0px);
    }
  }
  ion-card{
    animation: cards 250ms  calc(var(--animation-order)*50ms) both ease-in;
  }